* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tilt Neon', cursive;
	color: #000;
  }
  
  html {
	font-size: 62.5%;
  }
  
  a {
	text-decoration: none;
  }
  
  ul {
	list-style: none;
  }

  .main-header {
	padding: 2rem 4rem;
	height: 10rem;
  }

  .logo-container {
	height: 5rem;
  }
  
  .logo-container img {
	height: 100%;
  }
  
  .hero-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 20px;
	height: calc(100vh - 10rem);
  }
  

  .hero-vector-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%; 
	height: auto;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 20px;
	display: none;
  }  
  
  .hero-vector-container img {
	max-width: 100%;
	height: auto;
  }
  
  .hero-text {
	font-size: 30px;
	color: #413b3b;
	text-align: left;
	padding: 0 20px 90px;
	font-family: 'Poppins', sans-serif;
  }
  
  .content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .hero-text-lines {
	color: #000;
	margin-bottom: -3rem;
  }
  
  .remaining-text {
	margin-top: 2rem;
	text-align: left;
  }
  
  .small-plant {
	height: 132px;
	width: 243px;
	margin-left: 0.2rem;
	vertical-align: middle;
	margin-bottom: 2rem;
  }
  
  .underlined {
	position: relative;
	margin-right: 1rem;
  }
  
  .underlined:after {
	content: "";
	position: absolute;
	bottom: 4px;
	left: -20px;
	height: 7px;
	width: 200px;
	border: solid 7px rgb(181, 218, 234);
	border-color: rgb(181, 218, 234) transparent transparent transparent;
	border-radius: 80% 80% 80% 80%;
	z-index: -2;
  }
  
  .big {
	font-size: 70px;
	color: rgb(246, 138, 66);
  }
  
  .get-started-button {
	display: inline-block;
	padding: 1rem 2rem;
	font-size: 2rem;
	text-decoration: none;
	background-color: transparent;
	color: #000;
	border: 2px solid black;
	border-radius: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, color 0.3s;
	margin-top: 2rem;
  }
  .get-started-button:hover{
	background-color: tomato;
  }
  .navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	top: 45px;
	right: 20px;
  }

	.navbar a {
	margin-left: 40px;
	text-decoration: none;
	color: #000;
  }

@media (max-width: 768px) {
	.navbar {
		position: fixed;
		top: 20px;
		right: 20px;
		font-family: 'Poppins', sans-serif;
		flex-direction: column;
		align-items: flex-end;
		background-color: transparent;
	}

	.navbar a {
		display: block;
		margin: 10px 0;
	}
}
  
  @media (max-width: 920px) {
	.mobile-nav {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
  
	.desktop-nav .logo-container {
	  display: none;
	}
  
	.desktop-nav {
	  display: block;
	  height: 0;
	  overflow: hidden;
	  transition: 0.3s;
	}
  
	.nav-list {
	  display: block;
	}
  
	.nav-item {
	  margin: 0;
	  margin-bottom: 2rem;
	}
  
	.nav-link {
	  display: block;
	  text-align: center;
	}
  
	.mobile-nav-open {
	  height: 195px;
	}
  }
  
  @media (max-width: 1500px) {
	.hero-vector-container img {
	  width: 70rem;
	}
  }
  
  @media (max-width: 960px) {
	.hero-text {
	  font-size: 4rem;
	  text-align: center;
	  padding-right: 0;
	}
  }
  
  @media (max-width: 800px) {
	.hero-text {
	  font-size: 3.5rem;
	}
  }
  
  @media (max-width: 750px) {
	.hero-text {
	  font-size: 3.5rem;
	}
  
	.hero-vector-container img {
	  width: 40rem;
	}
  }
  
  @media (max-width: 730px) {
	.hero-text {
	  font-size: 2.5rem;
	}
  }
  
  @media (max-width: 515px) {
	.hero-text {
	  font-size: 2rem;
	}
  
	.hero-vector-container img {
	  width: 30rem;
	}
  }
  

  @media (min-width: 970px) {
	.hero-vector-container {
	  display: flex;
	}
  }
  @media (min-width: 920px) {
	.mobile-nav {
	  display: none;
	}
  
	.desktop-nav {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
  }