body{
   text-align: center;
}    
/* opening */
#opening{
   background-color:#B5F1CC;
}

.interface-img{
   width: 400px;
   height: 400px;
}

.homeplant-img{
   width: 400px;
   height: 400px;
}
/* Navbar */
.navbar{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   padding-bottom: 4.5rem;
}
.navbar-brand{
   font-weight: bolder;
   font-size: 2.5rem;
}
.nav-item{
   padding: 0 20px;
}
.nav-link{
   font-family:  'Tilt Neon', cursive;
   font-size: 1.2rem;
}
/* Landing page */
h1 {  
   font-family:  'Tilt Neon', cursive;  
   font-size: 1.5rem;  
   line-height: 1.5;  
   font-weight: 900;
}
/* Features */
#features{
   text-align: center;
   font-family:  'Tilt Neon', cursive;
   background-color: #E5FDD1; 
}
/* .testimonial-img{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
} */
.carousel-item{
   padding:7% 15%;
}
/* About */
#about{
   background-color: #C9F4AA;
   padding: 10%;
}
.about-template{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 2.5rem;  
    line-height: 2;  
    font-weight: 900;
}
.about-touch{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 2rem;  
    line-height: 1.5;  
    font-weight: 500;
}
/* Hovercode */
.contact-link{
   text-decoration: none;
   color: black;
}
.contact-btn{
   font-family:'Tilt Neon', cursive;
   margin-right: 40px;
  padding: 25px 30px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.contact-btn:hover{
    background:yellowgreen;
    color: #050801;
    box-shadow: 0 0 5px #fff,
                0 0 25px  #fff,
                0 0 50px  #fff,
                0 0 200px  #fff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #fff);
}
.mail:hover{
   background-color:yellowgreen;
}
.Linked:hover{
   background-color:  #3b5999;
}
.Twitter:hover{
   background-color: #55acee;
}
