body{
   text-align: center;
}    
/* opening */
#opening{
   background-color:#B5F1CC;
}
/* Navbar */
.navbar{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   padding-bottom: 4.5rem;
}
.navbar-brand{
   font-weight: bolder;
   font-size: 2.5rem;
}
.nav-item{
   padding: 0 20px;
}
.nav-link{
   font-family:  'Tilt Neon', cursive;
   font-size: 1.2rem;
}
/* Landing page */
h1 {  
   font-family:  'Tilt Neon', cursive;  
   font-size: 1.5rem;  
   line-height: 1.5;  
   font-weight: 900;
}
/* Features */
#features{
   text-align: center;
   font-family:  'Tilt Neon', cursive;
   background-color: #E5FDD1; 
}
.testimonial-img{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}
.carousel-item{
   padding:7% 15%;
}
/* About */
#about{
   background-color: #C9F4AA;
   padding: 10%;
}
.about-template{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 2.5rem;  
    line-height: 2;  
    font-weight: 900;
}
.about-touch{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 2rem;  
    line-height: 1.5;  
    font-weight: 500;
}
.contact-btn{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 1 rem;
   margin: 3%;
}
.contact-link{
   font-family:  'Tilt Neon', cursive;
   color: #000;
   font-size: 1 rem;
   text-decoration: none;
}
.end-link{
   padding: 50px 20px 20px;
   margin-top:50%;
   font-size: 1.1rem;
}
.end-link:hover{
   color: #fff;
}

/* Hovercode */

.s-ul {
   display: flex;
   position: absolute;
   top: 105%;
   left: 49%;
   transform: translate(-50%, -50%);
 }
 
.s-li{
   list-style: none;
  position: relative;
 }
 
.s-a{
   width: 80px;
   height: 80px;
   background-color: #fff;
   text-align: center;
   line-height: 80px;
   font-size: 35px;
   margin: 0 10px;
   display: block;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   border: 3px solid #fff;
   z-index: 1;
 }
 
.s-a, .icon {
   position: relative;
   color: #262626;
   transition: .5s;
   z-index: 3;
 }
 
 .s-a:hover .icon {
   color: #fff;
   transform: rotateY(360deg);
 }
 
.s-a:before {
   content: "";
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 100%;
   background: #f00;
   transition: .5s;
   z-index: 2;
 }
 
.s-a:hover:before {
   top: 0;
 }
 
.s-li:nth-child(2) a:before{
   background: #3b5999;
 }
 
.s-li:nth-child(1) a:before{
   background: #55acee;
 }
.tweet{
   padding-top: 650px;
}
.linked-in{
   padding-top: 650px;
}